body {
  background-color: lavender;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #333;
  height: 50px;
}

li {
  float: left;
}

li a {
  color: whitesmoke;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  font-family: "Montserrat", sans-serif;
}

li a:hover {
  background-color: slateblue;
}

section {
  padding: 20px;
  border: 1px solid blue;
  margin: 10px;
  border-radius: 5px;
}

section last-of-type {
  margin-bottom: 50px;
}

footer {
  color: white;
  background-color: #333;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 25px;
}

.card {
  border: 1px solid blue;
  width: 30%;
  float: left;
  margin: 5px;
}

.card img {
  height: 100px;
}
